.lead__king-image {
  background-image: url("../../../images/lead-king-image.png");
  background-repeat: no-repeat;
  width: 128.16px;
  height: 252.44px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: 380px;
}

@media screen and (max-width: 1260px) {
  .lead__king-image {
    width: 122.5px;
    height: 241.29px;
    margin-left: 341px;
    top: 78px;
  }
}

@media screen and (max-width: 1106px) {
  .lead__king-image {
    background-size: contain;
    width: 115.15px;
    height: 226.64px;
    margin-left: 369px;
    top: 92px;
  }
}

@media screen and (max-width: 1015px) {
  .lead__king-image {
    width: 112.92px;
    height: 222.21px;
    margin-left: 349px;
    top: 87px;
  }
}

@media screen and (max-width: 877px) {
  .lead__king-image {
    width: 106.78px;
    height: 210px;
    display: none;
  }
}

@media screen and (max-width: 685px) {
  .lead__king-image {
    display: block;
    width: 56.98px;
    height: 104.8px;
    top: initial;
    bottom: 205px;
    left: initial;
    right: 88px;
    margin-left: 0;
    transform: rotate(8deg);
  }
}
