.running-line {
  overflow: hidden;
  background-color: #f54932;
  color: #fff;
  white-space: nowrap;
  height: 60px;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}
