.running-line {
  overflow: hidden;
  background-color: #f54932;
  color: #fff;
  white-space: nowrap;
  height: 60px;
  display: flex;
  padding: 18px 12px 0 12px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1260px) {
  .running-line {
    height: 52px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 722px) {
  .running-line {
    height: 45px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 600px) {
  .running-line {
    height: 38px;
    padding-top: 10px;
  }
}
