.stages__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.stages__list::after {
  content: "";
  position: absolute;
  background-image: url("../../../images/stages-airplane-image.png");
  background-repeat: no-repeat;
  width: 376.64px;
  height: 230px;
  bottom: 3px;
  right: -38.36px;
}

@media screen and (max-width: 1325px) {
  .stages__list::after {
    background-size: contain;
    bottom: 64px;
  }
}

@media screen and (max-width: 1246px) {
  .stages__list::after {
    width: 357.81px;
    height: 218.5px;
    bottom: 99px;
  }
}

@media screen and (max-width: 1183px) {
  .stages__list::after {
    bottom: 131px;
  }
}

@media screen and (max-width: 1121px) {
  .stages__list::after {
    width: 338.976px;
    height: 207px;
    bottom: 131px;
    right: -70.36px;
  }
}

@media screen and (max-width: 1059px) {
  .stages__list::after {
    bottom: -19px;
    right: -38.36px;
  }
}

@media screen and (max-width: 866px) {
  .stages__list::after {
    width: 335px;
    height: 182px;
    bottom: 24px;
    right: -56.36px;
  }
}

@media screen and (max-width: 772px) {
  .stages__list::after {
    width: 320.144px;
    height: 195.5px;
    bottom: 43px;
  }
}

@media screen and (max-width: 739px) {
  .stages__list {
    width: max-content;
    grid-template-columns: repeat(5, auto);
    gap: 0;
    transform: translateX(0px);
    column-gap: 20px;
  }
}
