.lead__background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.lead__background-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  bottom: 60px;
  left: 0;
  z-index: 2;
  background-image: url("../../../images/lead-background.png");
  mix-blend-mode: color-burn;
}

@media screen and (max-width: 1260px) {
  .lead__background-container::after {
    height: 664px;
  }
}

@media screen and (max-width: 1159px) {
  .lead__background-container::after {
    height: 626px;
  }
}

@media screen and (max-width: 622px) {
  .lead__background-container::after {
    height: 926px;
  }
}
