.lead__title {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 4;
  max-width: 542px;
}

@media screen and (max-width: 1260px) {
  .lead__title {
    font-size: 52px;
    max-width: 484px;
  }
}

@media screen and (max-width: 1015px) {
  .lead__title {
    font-size: 44px;
    max-width: 396px;
  }
}

@media screen and (max-width: 685px) {
  .lead__title {
    font-size: 36px;
    max-width: 335px;
  }
}
