.running-line__list-item {
  position: relative;
  text-transform: uppercase;
  font-family: "Merriweather", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.running-line__list-item::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -18px;
  top: 9px;
}

@media screen and (max-width: 1106px) {
  .running-line__list-item {
    font-size: 20px;
  }
}

@media screen and (max-width: 877px) {
  .running-line__list-item {
    font-size: 18px;
  }

  .running-line__list-item::after {
    top: 7.5px;
  }
}

@media screen and (max-width: 685px) {
  .running-line__list-item {
    font-size: 16px;
  }

  .running-line__list-item::after {
    top: 6px;
  }
}
