.lead__knight-image {
  width: 187.87px;
  height: 243.99px;
  background-image: url("../../../images/lead-knight-image.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  bottom: 34px;
  left: 50%;
  margin-left: 154px;
}

@media screen and (max-width: 1260px) {
  .lead__knight-image {
    width: 174.72px;
    height: 220.91px;
    margin-left: 186px;
  }
}

@media screen and (max-width: 1015px) {
  .lead__knight-image {
    background-size: contain;
    width: 171.2px;
    height: 218px;
    bottom: 20px;
    margin-left: 205px;
  }
}

@media screen and (max-width: 722px) {
  .lead__knight-image {
    width: 167.776px;
    height: 213.64px;
    bottom: 17px;
  }
}

@media screen and (max-width: 600px) {
  .lead__knight-image {
    width: 103px;
    height: 121.63px;
    bottom: 30px;
    left: initial;
    right: 128px;
    margin-left: 0;
  }
}
