.content-wrapper {
  width: min(100%, 1366px);
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1365px) {
  .content-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
