.content-wrapper {
  width: min(100%, 1366px);
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1182px) {
  .content-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 917px) {
  .content-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}
