.lead__background {
  position: relative;
  width: 1628px;
  height: 700px;
  z-index: 2;
  background-image: url("../../../images/lead-background-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 64px;
  left: 50%;
  transform: translateX(-49.3%);
}

@media screen and (max-width: 1260px) {
  .lead__background {
    width: 1546px;
    height: 647px;
    transform: translateX(-45%);
  }
}

@media screen and (max-width: 1015px) {
  .lead__background {
    width: 1452px;
    height: 601px;
    transform: translateX(-42.3%);
  }
}

@media screen and (max-width: 722px) {
  .lead__background {
    width: 1411px;
    height: 619px;
    transform: translateX(-44.1%);
  }
}

@media screen and (max-width: 600px) {
  .lead__background {
    width: 888px;
    height: 376px;
    transform: none;
    position: absolute;
    bottom: 23px;
    left: initial;
    right: -96px;
    /* right: 0; */
    background-image: url("../../../images/lead-background-image-mobile.png");
  }
}
