.stages__buttons-container {
  display: none;
  align-items: center;
  gap: 16px;
  margin-top: 28px;
  margin-left: 79px;
}

@media screen and (max-width: 739px) {
  .stages__buttons-container {
    display: flex;
  }
}
