.participants__button {
  background-image: url("../../../images/participants-button-image.svg");
  background-color: #313131;
  background-repeat: no-repeat;
  background-size: 8.46px 16.92px;
  background-position: center;
  width: 44px;
  height: 44px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.participants__button:first-child {
  transform: rotate(180deg);
}

.participants__button:hover {
  background-color: #fbce51;
}

.participants__button:disabled {
  background-color: #d6d6d6;
}
