.lead__pawn-image {
  width: 82.61px;
  height: 122.22px;
  background-image: url("../../../images/lead-pawn-image.png");
  position: absolute;
  bottom: 81px;
  left: 50%;
  margin-left: 557px;
  z-index: 4;
}

@media screen and (max-width: 1260px) {
  .lead__pawn-image {
    width: 78.9618px;
    height: 116.8172px;
    margin-left: 511px;
  }
}
